<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MULIA MAKMUR</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="container">
<div id="header"> 
<div id="header-main">
<b>LOG OUT</b>
</div>
</div>
<div id="content">
<div id="content-main">|<b> TRANSACTION </b>|<b> DATABASE </b>|<b> REPORT </b>|</div>
</div>
<div id="footer">
<div id="footer-main"><b><i>Copyright @ Creative Spirit. All Right Reserved</i></b></div>
</div>
</div>
</body>
</html>
