@charset "utf-8";
/* CSS Document */

body{
	background:#ffffff;
	width:1000px;
	margin:auto;
}

#container{
	background-color:#ffffff;
	margin-top: 7px;
}

#header{
	border: 1px solid #000000;
	border-bottom: 0px;
	border-top: 0px;
	background: #FFFFFF;
	width:1000px;
	height:70px;
}


#content{
	border: 1px solid #000000;
	border-bottom:0px;
	background:#FFFFFF;
	width:1000px;
	height:700px;
}

#content-main{
	text-align:center;
	border-bottom: 0px solid #000000;
	
}

#content-table{
	border-left: 0px;
	border-right: 0px;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background:#CCCCCC;
	width:1000px;
	height:250px;
	margin-top:5px;
	}

#footer{
	border: 1px solid #000000;
	border-bottom: 0px;
	background:#FFFFFF;
	width:1000px;
	height:70px;
	clear:both;
}

#footer-main{
	text-align:center;
}

