h1 {
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:26px;
}

p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:center;
}

#wrap-login{
	margin:150px 0px;
	padding-top:10px;
}

#pict-header{
	float:left; 
	padding-left:20px; 
	padding-top:10px;
}

#header{
	padding-top: 10px;
}